﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="layout.master.cs" Inherits="geducSite.View.layout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>GEDUC</title>
    <meta name="description" content="Descrição do site" />
    <meta name="author" content="Forsoft" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
                <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
                <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <!--Start Header-->
    <div id="screensaver">
        <canvas id="canvas"></canvas>
        <i class="fa fa-lock" id="screen_unlock"></i>
    </div>
    <!-- <div id="modalbox">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span>Basic table</span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner">
        </div>
        <div class="devoops-modal-bottom">
        </div>
    </div>
</div> -->
    <div class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-2">
                    <a href="index.html">GEDUC</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <div id="search">
                                <input type="text" placeholder="Pesquisar" />
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-8 top-panel-right">
                            <ul class="nav navbar-nav pull-right panel-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                        <div class="avatar">
                                            <img src="../img/icon-3.png" height="197" width="197" class="img-circle" alt="avatar" />
                                        </div>
                                        <i class="fa fa-angle-down pull-right"></i>
                                        <div class="user-mini pull-right">
                                            <span class="welcome">Bem Vindo,</span>
                                            <span>Usuário</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user"></i>
                                                <span>Perfil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i>
                                                <span>Configurações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-power-off"></i>
                                                <span>Sair</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="../ajax/dashboard.html" class="active ajax-link">
                            <i class="fa fa-home"></i>
                            <span>Início</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-institution"></i>
                            <span>Institucional</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Instituição</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Setor</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Funcionário</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="cadastro_funcionario.aspx">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="consultar_funcionario.aspx">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="alterar_funcionario.aspx">
                                            <i class="fa fa-dashboard"></i>
                                            <span>Alterar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listar_funcionario.aspx">
                                            <i class="fa fa-dashboard"></i>
                                            <span>Listar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Turma</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Relatórios</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-graduation-cap"></i>
                            <span>Acadêmico</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Aluno</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dashboard"></i>
                                            <span>Frequência</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Avaliação</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Notas</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="cadastro_nota.aspx">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>Cadastrar</span>
                                        </a>
                                    </li>
                                     <li>
                                        <a href="consultar_nota.aspx">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span>consultar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="listar_notas.aspx">
                                            <i class="fa fa-search"></i>
                                            <span>listar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span>Relatórios</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file=pdf"></i>
                                            <span>Gerar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                            <span>Pesquisar</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Serviços</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-cog"></i>
                                    <span>Configuração</span>
                                </a>
                            </li>
                            <li>
                                <a href="Index_teste.aspx">
                                    <i class="fa fa-life-ring"></i>
                                    <span>Suporte</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">

                <div class="row">
                    <div id="breadcrumb" class="col-xs-12 visible-xs">
                        <a href="#" class="show-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ol class="breadcrumb pull-left">
                            <li><a href="index.html">Dashboard</a></li>
                        </ol>
                    </div>
                </div>
                
                <div id="ajax-content">

                    <asp:ContentPlaceHolder ID="Conteudo" runat="server" />
                
                </div>

            </div>
            <!--End Content-->
        </div>
    </div>
    <!--End Container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="../vendor/devoops/plugins/jquery/jquery.min.js"></script>
    <script src="../vendor/devoops/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../vendor/devoops/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../vendor/devoops/plugins/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <script src="../vendor/devoops/plugins/tinymce/tinymce.min.js"></script>
    <script src="../vendor/devoops/plugins/tinymce/jquery.tinymce.min.js"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script src="../vendor/devoops/js/devoops.js"></script>

</body>
</html>
